
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, #003366, #002244); /* Adjust colors as needed */
  background-image: url("C:/Users/Admins/Downloads/Untitled.png"); /* Overlay pattern */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px;
  display: flex; /* To center content horizontally */
  justify-content: center;
  align-items: center;
}

.semi-transparent-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(253, 253, 253, 0.767); /* Black with 50% opacity */
    color: white;
    text-align: center;
    line-height: 50px; /* Vertically center the text */
    display: flex;
    position: absolute;
    top: 0px; 
}



.logo img {
    width: 100px;
    border-radius: 15px;
    position: absolute;
    top: 0px; 
    left: 5px; 
    gap: 30px;
}

.header-content h1 {
  font-size: 3rem; /* Adjust font size */
  text-align: center;
}

.header-content p {
  font-size: 1.5rem; /* Adjust font size */
  text-align: center;
}

.header-links {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 10px; 
    right: 50px
}

.header-links a {
    text-decoration: none;
    font-size: 1em;
}

.header-links a:hover {
    text-decoration: underline;
}

.blue-text {
    color: rgb(42, 42, 252);
}

.darkblue-text {
    color: rgb(1, 1, 37);
}

.black-text {
    color: rgb(0, 0, 0);
    text-align: center;
}

.header-content {
    text-align: center;
    
}

.vision {
    background-image: url("C:/Users/Admins/Downloads/code-image2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 20px;
    text-align: center;
    top: 300px
}

.vision h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.vision p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}



.academic-files {
    background-color: grey;
}

.academic-files {
    padding: 50px 20px;
    text-align: center;
}

.academic-text {
    border-width: 2px; /* Sets the border width */
    border-style: solid; /* Sets the border style */
    border-color: white; /* Sets the border color */
    padding: 10px; /* Optional: Adds padding inside the border */
    background-color: white; 
}


.academic-files h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.file-card {
    display: inline-block;
    width: 300px;
    margin: 0 20px;
    vertical-align: top;
    text-align: left;
}

.file-card img {
    width: 100%;
    height: auto;
}

.file-card p {
    font-size: 1em;
    margin-top: 10px;
}

.academic-text {
    border-width: 2px;
    border-style: solid; 
    border-color: white;
    padding: 10px; 
    background-color: white; 
}
